h1{
	font-family: sans-serif;  
	font-size: 70px; 
	text-align: right;
}

p{
	font-family: sans-serif;
	text-align: right;

}

body{
	background-color: gray;

}

.wrapper{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


.flex-container{
	display: flex;
	flex-wrap: wrap;
	background: #7d97ad;
}

.project1{
	height: 100px;
	min-width: 200px;
	flex: 1 0 200px;
}

.project2{
	height: 100px;
	min-width: 200px;
}

.project3{
	height: 100px;
	min-width: 200px;
}


img{
	float: right;
}


h2{
	text-align: right;

}